{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <title>Task</title>
</head>

<body>

    <div>
        {% block content %}
<table>
    <tr>
        <th>id</th>
        <th>action</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{user}}</td>
        <td>
            <a href="{% url 'deleteuser' user%}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
 <a href="{% url 'adduser'%}">Add user</a>
{% endblock %}
    </div>
</body>

</html>